* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html,
body {
  height: 100%;
  color: #252f40;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 20px 30px;
  background-color: #f9f0df;
  border-bottom: #193041 1px solid;
  display: flex;
  justify-content: center;
}

.header-inner {
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 1440px;
  width: 100%;
}

main {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: #bca8bd;
}

footer {
  text-align: center;
  font-size: 14px;
  color: #193041;
  padding: 20px 30px;
  background-color: #f9f0df;
  border-top: #193041 1px solid;
}

h1 {
  font-family: 'Limelight', sans-serif;
  font-weight: 700;
  color: #193041;
  margin-top: 5px;
}

h2 {
  font-family: 'Limelight', sans-serif;
  font-weight: 300;
  color: #193041;
}

h3 {
  font-family: 'Lovers Quarrel', sans-serif;
  font-weight: 500;
  color: #193041;
}

.intro {
  font-size: clamp(20px, 4vw, 32px);
  text-align: center;
}

.fairy-talegram-logo {
  height: 64px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  max-width: 1000px;
}

.photo {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.photo:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(251, 240, 223, 0.4);
}

dialog {
  max-width: 88vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background-color: #f9f0df;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.8);
}

.popup-card {
  background: #f9f0df;
  padding: 20px;
  border-radius: 12px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.popup-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.popup-header p,
.popup-caption,
.popup-content p {
  font-size: clamp(10px, 2.5vw, 24px);
  color: #193041;
  margin: 0;
  white-space: pre-line;
}

.popup-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(10px, 2.5vw, 18px);
  width: 100%;
  max-width: 100%;
  flex-wrap: nowrap;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 90vw;
  width: 100%;
  gap: 12px;
}

.popup-content img {
  max-width: 100%;
  min-width: 210px;
  height: auto;
  border-radius: 10px;
}

.arrow {
  font-size: clamp(16px, 2.5vw, 32px);
  background: none;
  border: none;
  cursor: pointer;
  color: #193041;
  user-select: none;
}

.arrow:hover,
button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

button {
  width: 30px;
  height: 30px;
}
