/* Basis */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html,
body {
  height: 100%;

  color: #252f40;
}

/* Layout */
.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 20px 30px;
  background-color: #f9f0df;
  display: flex;
  align-items: center;
  gap: 8px;
  border-bottom: #193041 1px solid;
}

footer {
  text-align: center;
  font-size: 14px;
  color: #193041;
  padding: 20px 30px;
  background-color: #f9f0df;
  border-top: #193041 1px solid;
}

main {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: #bca8bd;
}

/* Intro */
.intro {
  font-size: clamp(20px, 4vw, 32px);
  text-align: center;
}

h1 {
  font-family: 'Limelight', sans-serif;
  font-weight: 700;
  color: #193041;
}

h2 {
  font-family: 'Limelight', sans-serif;
  font-weight: 300;
  color: #193041;
}

h3 {
  font-family: 'Lovers Quarrel', sans-serif;
  font-weight: 500;
  color: #193041;
}

.fairy-talegram-logo {
  height: 64px;
}

/* Galerie */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  max-width: 1000px;
}

.photo {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.photo:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgb(251, 240, 223, 0.4);
}

/* Popup
.popup-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.popup-overlay img {
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 10px;
}

.popup-overlay button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: white;
  color: black;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Hide Popup */
/* .popup-hidden {
  display: none;
} */

dialog {
  border: none;
  padding: 0;
  background: transparent;
  position: relative;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.8);
}

dialog img {
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 10px;
}

dialog button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: white;
  color: black;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}
